#list {
        height: 650px;
        overflow-y: scroll;
}

#menu-bar{
        border-right: 1px solid #ececec;
        background-color: #f8f8f8;
        margin: 0;
        max-width: 70px;
}

#principal-menu{
    margin-top: 300px;
}
